body { background: #b48637; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-filter-0 { color: #51ac6f; font-size: 17px; margin-bottom: 5px; }
.block-invoice-1 { color: #69dd13; font-size: 13px; margin-bottom: 5px; }
.block-notify-2 { color: #6e9934; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #3754ad; font-size: 13px; margin-bottom: 5px; }
.block-helper-4 { color: #8bae4f; font-size: 15px; margin-bottom: 5px; }
.block-validator-5 { color: #400b60; font-size: 21px; margin-bottom: 5px; }